.hero__container{
    /* background-image: url('/src/assets/images/bg.png'); */
    /* background: linear-gradient(to right, #1D2A25 0%, #F9E559 30%, #FFFFFF 60%); */
    background-color: hsla(0, 0%, 100%, 1);
    background-image:
    radial-gradient(at 98% 100%, hsla(51, 93%, 66%, 0.43) 0px, transparent 50%),
    radial-gradient(at 18% 94%, hsla(51, 93%, 66%, 0.76) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(156, 18%, 13%, 0.61) 0px, transparent 50%);
}

@media (max-width: 1070px) {
    .hero-image{
        width: 360px;
    }
}

@media (max-width: 960px) {
    .hero__container {
        /* background-image: none; */
        flex-direction: row !important;
    }
    .hero-image__container{
        background-color: var(--color-rust);
    }
    .button__group{
        flex-direction: column !important;
    }
}
